<html>
    <head>
        <style>
            body{
                background-color: burlywood;
            }
        </style>
    </head>
    <body>
        <form action="buscar">
        <label >Escribe la ciudad</label>
        <input type="text" name="ciudad">  </input>
        <input type="submit" value="Buscar"> </input>
       </form>
    </body>
</html>