<html>
    <head>
        <style>
            body{
                background-color: rgb(34, 207, 238);
            }
        </style>
    </head>
    <body>
        <label>Día</label>
        <h1><%= dia %></h1>
        <label>Temperatura</label>
        <h1><%= temperatura %></h1>
        <label>Precipitacion</label>
        <h1><%= precipitacion %></h1>
        <label>Sensación</label>
        <h1><%= sensacion %></h1>

    </body>
</html>